@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --vp-c-brand-1: #12de81;
  --vp-c-brand-2: #0009ac;
  --vp-c-bg: #000;

  --vp-font-family-base: "Geist Mono", monospace;
  --vp-font-family-mono: "Geist Mono", monospace;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(0deg, #05eb7c, #09efe7, #05eb7c);
}

.image {
  mix-blend-mode: hard-light;
}

.custom-block.important {
  color: var(--vp-custom-block-important-text);
  background-color: #9f7aea29;
}

.custom-block.combat {
  color: var(--vp-custom-block-important-text);
  background-color: #90ea7a29;
}

@keyframes candleFlicker {
  0% {
    opacity: 0.6;
  }

  5% {
    opacity: 0.4;
  }

  10% {
    opacity: 0.5;
  }

  15% {
    opacity: 0.3;
  }

  20% {
    opacity: 0.6;
  }

  30% {
    opacity: 0.5;
  }

  40% {
    opacity: 0.7;
  }

  50% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.35;
  }

  90% {
    opacity: 0.65;
  }

  100% {
    opacity: 0.6;
  }
}

*.faded {
  filter: saturate(0.5);
  animation: candleFlicker 5s infinite;
}

.eidolon-logo {
  background-image: url('../../assets/eidolon.svg');
}

/* .tv-static {
  background:
    repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/2500px 2500px;
  background-blend-mode: difference;
  animation: b .2s infinite alternate;
}

@keyframes b {
  100% {
    background-position: 50% 0, 60% 50%
  }
} */

.tv-static {
  background-image: url("https://novaziodaonda.wordpress.com/wp-content/uploads/2012/10/fim.gif");
  background-blend-mode: difference;
}
